{
  "presets": ["es2015", "react", "stage-2"],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "src": "src",
        "routes": "./src/routes.jsx",
        "config": "./src/config.js",
        "middlewares": "./src/middlewares/",
        "components": "./src/components/",
        "reducers": "./src/reducers/",
        "language": "./src/i18n/base-en.js",
        "i18n": "./src/i18n/",
      }
    }]
  ]
}